[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
intelhex = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
flash = "./cc2538-bsl.py -evw"
